*{
  box-sizing: border-box;
  }
  body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  }
  
  h1 {
  text-align: center;
  font-weight: 400;
  }
  
  .registration-form {
  margin: 0 50px;
  }
  
  .form-group {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  }
  
  p {
  margin-left: 100px;
  margin-bottom: 0;
  margin-top: 0;
  }
  
  .first-name,
  .last-name,
  .phone-number,
  .email-address,
  .secret-code,
  .confirm-code {
  width: 100%;
  padding: 10px 20px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 20px;
  }
  
  .sign-in-button,
  .submit-registration {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  
  .agreement-label {
  display: inline-block;
  white-space: nowrap;
  font-size: 15px;
  font-weight: bold;
  }
  
  .sign-in-button {
  background-color: #4caf50;
  }
  
  .submit-registration {
  background-color: #1e90ff;
  }
  
  a {
  text-decoration: none;
  }
  
  span {
  background-color: #1e90ff;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  border-radius: 4px;
  }